<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 Badge Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <p>Learn more from Jami at <a href="https://jamibot.com">jamibot.com</a></p>

    <ion-badge>Jami Bot</ion-badge>
    <ion-badge color="secondary" mode="ios">Jami Bot</ion-badge>
    <ion-badge color="tertiary">Jami Bot</ion-badge>

    <ion-list>
      <ion-item>
        <ion-label>hello world</ion-label>
        <ion-badge>100</ion-badge>
      </ion-item>
    </ion-list>
    
  </div>
</ion-content>
